<article class="post">
    <span>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </span>

    <div class="post__content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste debitis eveniet delectus vero autem laboriosam explicabo consequatur ratione, cum, voluptates amet in enim quia. Debitis iste nesciunt, nulla numquam harum blanditiis voluptate natus autem dolores culpa dolore deserunt doloribus, eaque repudiandae, neque inventore corporis rem delectus libero. Similique, necessitatibus quo?
    </div>
</article>